{% load staticfiles %}
{% load i18n %}

<div class="panel panel-info">
    <div class="panel-heading"><strong>Money Back Guarantee</strong></div>
    <div class="panel-body">
        <img src="{% static 'images/guarantee.jpg' %}" alt="Money Back Guarantee" class="img-responsive" style="margin:0 auto 10px;"/>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p class="text-center">
            <a href="{% url 'moneyback' %}" class="btn btn-primary btn-sm" role="button">Read More &raquo;</a>
        </p>
    </div>
</div>